
*.ini
*.inc
Settings/Profiles/Default/Settings.inc
Settings/Profiles/Default/Colors.inc
Settings/Eyedropper/Eyedropper.ini
Settings/Extra/nircmd.exe
Settings/ColorPickerPlus.ini
Keypad-Mapper/Settings/Extra/nircmd.exe
Keypad-Mapper/@Resources/Plugins/Mouse/3.2.0/64bit/Mouse.dll
Keypad-Mapper/@Resources/Plugins/Mouse/3.2.0/32bit/Mouse.dll
Keypad-Mapper/@Resources/Plugins/HotKey/1.0.0.12/64bit/HotKey.dll
Keypad-Mapper/@Resources/Plugins/HotKey/1.0.0.12/32bit/HotKey.dll
Keypad-Mapper/@Resources/Plugins/CursorColor/1.3.0.0/64bit/CursorColor.dll
Keypad-Mapper/@Resources/Plugins/CursorColor/1.3.0.0/32bit/CursorColor.dll
Keypad-Mapper/@Resources/Fonts/Montserrat-Regular.ttf
KeyMapper.ini
@Resources/Plugins/Mouse/3.2.0/64bit/Mouse.dll
@Resources/Plugins/Mouse/3.2.0/32bit/Mouse.dll
@Resources/Plugins/HotKey/1.0.0.12/64bit/HotKey.dll
@Resources/Plugins/HotKey/1.0.0.12/32bit/HotKey.dll
@Resources/Plugins/CursorColor/1.3.0.0/64bit/CursorColor.dll
@Resources/Plugins/CursorColor/1.3.0.0/32bit/CursorColor.dll
@Resources/Minimized/Minimized.ini
@Resources/Fonts/Montserrat-Regular.ttf
